{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <h1>Відгуки!</h1>
    <hr>

    {% if posts %}
        {% for post in posts %}
        <div class="media post">
            <div class="media-body">
                <h4 class="media-heading">{{ post.name }}</h4>
                <p>{{ post.text }}</p>
                <span class="time">{{ post.date|date:"Y-m-d H:i" }}</span>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>На даний момент жодних відгуків немає!</p>
    {% endif %}

    {% include 'layout/pagination.html' %}

    <br><br><br>
    <h3>Залиште свій відгук</h2>
    <hr>
    <form action="{% url 'add_post' %}" method="post" class="post-form">{% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}:</label>
                {{ field|add_class:'form-control' }}
            </div>
            {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{ error }}
            </div>
            {% endfor %}
        {% endfor %}
        <button type="submit" class="btn btn-default">Додати відгук</button>
    </form>

{% endblock %}
