body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

/**------Header-----**/
.header {
    width: 100%;
}
.header > img {
    margin: auto;
    display: block;
    margin-top: 10px;
}


/**------Content-----**/
.main-content {
    margin: 20px 0;
    display: block;
}

.post {
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
}
.post h4 {
    font-weight: bold;
}
.post .time {
    font-size: 12px;
    font-style: italic;
    color: grey;
}

.post-form {width: 50%;}

/**------Foter-----**/
.footer {
    width: 100%;
    height: 50px;
    background: #8c8c8c;
    padding: 25px;
    box-sizing: border-box;
}
.footer > p {
    font-size: 10px;
    font-style: italic;
    color: #97d4f6;
    float: right;
}
