{% if posts.has_next or posts.has_previous %}
<nav aria-label="Page navigation">
    <ul class="pagination">
    {% if posts.has_previous %}
        <li>
            <a href="?page={{ posts.previous_page_number }}" aria-label="Previous">&laquo;</a>
        </li>
    {% endif %}

    {% for page in posts.paginator.page_range %}
        {% if page == posts.number %}
            <li class="active">
                <span>{{ page }}</span>
            </li>
        {% else %}
            <li>
                <a href="?page={{ page }}">{{ page }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if posts.has_next %}
        <li>
            <a href="?page={{ posts.next_page_number }}" aria-label="Next">&raquo;</a>
        </li>
    {% endif %}
    </ul>
</nav>
{% endif %}
